<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script>
			window.noderequire = require;
			delete window.require;
			delete window.exports;
			delete window.module;
		</script>
		<link href="./css/bootstrap.min.css" rel="stylesheet"/>
		<link href="./css/index.css" rel="stylesheet"/>
		<script>
		window.m = noderequire('./js/mithril.min.js');
		const {ipcRenderer} = noderequire('electron');
		</script>
		<script src="./view/login.js"></script>
		<script src="./view/stats.js"></script>
		<script src="./js/jquery-3.2.0.min.js" charset="utf-8"></script>
		<script src="./js/bootstrap.min.js" charset="utf-8"></script>
		<script src="./js/icheck.min.js" charset="utf-8"></script>
		<script src="./js/jquery.fs.stepper.min.js" charset="utf-8"></script>
		<script src="./js/jquery.fs.selecter.min.js" charset="utf-8"></script>
		<script src="./js/index.js" charset="utf-8"></script>
		<title>Rainbow Six Siege Stats Viewer</title>
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div id="title" class="jumbotron col-xs-12">
				<!--<h1>Rainbow Six Siege Stats Viewer</h1>-->
				<h1>Stats Viewer</h1>
				<div id="menu"></div>
			</div>
		</div>
	</div>
	<div id="alert"></div>
	<div class="container">
		<div class="row">
			<div id="root"></div>
			<div id="contents"></div>
		</div>
	</div>
	<script src="./view/app.js"></script>
</body>
</html>
